extends layout

block content
  h1= 'SQLAdmin.js'

  div#initialData
    = appData

  div.app  

  script(id='databaseCollectionView', type='text/x-handlebars').
    <a href='#' class='dbname'>{{database}}</a>
  
  script(id='tableCollectionView', type='text/x-handlebars').
    <h2>{{table}}</h2>
     
