extends layout

block content
  h1= 'SQLAdmin.js'

  div#initialData(style="display:none")
    = appData

  div.app 

  script(id='databaseCollectionView', type='text/x-handlebars').
    <a href='#' class='dbname'>{{database}}</a>
  
  script(id='tableCollectionView', type='text/x-handlebars').
    <a href='#' class='tableName'>{{table}}</a>
     
