doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery.js')
    script(src='/javascripts/lib/underscore.js')
    script(src='/javascripts/lib/backbone.js')
    script(src='/javascripts/init.js')
    script(src='/javascripts/client.js')
  body
    block content
